<div class="loginform-container">
  <div class="h-100 row align-items-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          <form class="forms-sample" [formGroup]="loginForm">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                formControlName="email"
              />
              <div
                *ngIf="f.email.touched && f.email.invalid"
                class="alert alert-danger"
              >
                <div *ngIf="f.email.errors.required">
                  Field is required.
                </div>
                <div *ngIf="f.email.errors.email">
                  Please Enter Correct Email
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                formControlName="password"
              />
              <div
                *ngIf="f.password.touched && f.password.invalid"
                class="alert alert-danger"
              >
                <div *ngIf="f.password.errors.required">
                  Field is required.
                </div>
              </div>
            </div>
            <button class="btn btn-success mr-2" [disabled]="!loginForm.valid" (click)="login()">Submit</button>
            <button type="reset" class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>